@model Guid?

@{
    ViewData["Title"] = "Income";
}

<h2>Income</h2>

@if (ViewData["Message"] != null)
{
    <div class="alert alert-info">
        @ViewData["Message"]
    </div>
}

<form method="post" asp-action="ValidateIncomeTicket">
    <div class="form-group">
        <label for="ticketId">ID del ticket:</label>
        <input type="text" class="form-control" id="ticketId" name="ticketId" required>
    </div>
    <button type="submit" class="btn btn-primary">Validar</button>

    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-outline-primary" />
        <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
    </div>
</form>