@model Guid?

<style>
    .title {
        text-align: center;
        font-family: 'Arial Black', sans-serif;
        background: linear-gradient(45deg, #FF4081, #FFC107);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 32px;
        margin-bottom: 20px;
    }
</style>

<div class="title">
    <h2>CONCIERTO DE LA BICHOTA</h2>
</div>


@if (Model.HasValue)
{
    <h4>Resultado de la validación:</h4>
    <p>@ViewData["Message"]</p>
}

<form method="post" action="/Tickets/ValidateIncomeTicket">
    <div class="form-group">
        <label for="ticketId">ID Ticket:</label>
        <input type="text" class="form-control" id="ticketId" name="ticketId" value="@Model" required />
    </div>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Validate</button>
    </div>
</form>


