@using ParcialJuanJoseHerreraQuinchia.DAL.Entities;
@model Tickets
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />

<p>
    <a asp-action="Income" class="btn btn-outline-primary">Ingresar Nueva Boleta</a>
</p>

