@model Guid?

@{
    ViewData["Title"] = "Income";
}

<h2>Income</h2>

@if (ViewData["Message"] != null)
{
        <div class="alert alert-info">
        @ViewData["Message"]
        </div>
}

<div class="form-group">
    <a asp-action="Index" class="btn btn-secondary">New Ticket</a>
</div>
